@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Car Details";
}
@model CarDealer.Models.Cars

<div class="container mt-4">
    <h2>@Model.CarName</h2>

    <img src="@Model.CarImagePath" class="img-fluid mb-3 rounded shadow-sm" alt="@Model.CarName" />
    <p><strong>Make:</strong> @Model.CarMake</p>
    <p><strong>Model:</strong> @Model.CarModel</p>
    <p><strong>Year:</strong> @Model.YearOfProduction</p>
    <p><strong>Price:</strong> ₦@Model.CarPrice.ToString("N0")</p>
    <p>@Model.CarDescription</p>

  
    <a asp-controller="Home" asp-action="Enquiry" asp-route-id="@Model.Id" class="btn btn-success mt-2">
        Enquire Now
    </a>

    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary mt-2">
        Back to Listing
    </a>
</div>
